p {
  margin-bottom: 30px;
}

.pagination {
  font-size: smaller;
  padding-bottom: 10px;

  .previous, .next {
    width: 40%;
    float: left;
  }

  .previous {
    text-align: left;
  }

  .center {
    width: 20%;
    float: left;
    text-align: center;
  }

  .next {
    text-align: right;
  }

  &:after {
    clear: both;
  }
}

.pagination-post {
  font-size: smaller;
  padding-bottom: 10px;

  .previous, .next {
    width: 50%;
    float: left;
  }

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }

  &:after {
    clear: both;
  }
}

.page_number {
  color: $text-color;
}

table {
  border-collapse: separate;
  border-left: 0px;
  border-radius: 3px;
  border-spacing: 0;
  border: 1px solid gainsboro;
  width: 100%;

  & tbody {
    background-color: #fbfbfb;
  }

  & tbody tr:hover > td, .refills-patterns .tables tbody tr:hover > th {
    background-color: #eeeeee;
  }

  & tbody tr:nth-child(even) {
    background-color: #f6f6f6;
  }

  & tbody tr:nth-child(even):hover > td {
    background-color: #e9e9e9;
  }

  & thead:first-of-type tr:first-child > th:first-child {
    border-top-left-radius: 3px;
  }

  & thead:first-of-type tr:first-child > th:last-child {
    border-top-right-radius: 3px;
  }

  & tbody:last-child tr:last-child > td:first-child {
    border-bottom-left-radius: 3px;
  }

  & tbody:last-child tr:last-child > td:last-child {
    border-bottom-right-radius: 3px;
  }

  & thead th {
    background-color: white;
    border-bottom: 0px;
    border-left: 1px solid gainsboro;
    padding: 0.75em 1em;
    text-align: left;
  }

  & thead th:first-child {
    border-left: none;
  }

  & tbody {
    background-color: #fbfbfb;

    & td {
      border-bottom: 0px;
      border-left: 1px solid gainsboro;
      border-top: 1px solid gainsboro;
      padding: 0.75em 1em;

      &:first-child {
        border-left: none;
      }

      & button {
        display: inline-block;
        font-size: 0.7em;
        line-height: 1.5em;
        margin-bottom: 0.3em;
        margin-right: 0.5em;
        outline: none;
        padding: 0.3em 1em;
        width: 100%;
      }

      @media screen and (min-width: 40em) {
        & button {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}

table {
  margin-bottom: 30px;
}

iframe {
  margin-bottom: 30px;
}

.highlight {
  margin-bottom: $spacing-unit;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul.share-buttons li {
  display: inline;
  margin-right: 5px;
}

.post-content {
  img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
    width: 100%;
  }

  p {
    line-height: 1.6em;
  }
}

@-webkit-keyframes fadeIn { from { transform: translateY(20px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }
@-moz-keyframes fadeIn { from { transform: translateY(20px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }
@keyframes fadeIn { from { transform: translateY(20px); opacity: 0; } to { transform: translateY(0); opacity: 1; } }

.page-content {
  opacity: 0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}


.site-title {
  font-size: 22px;
}

.site-nav .page-link {
  font-size: 18px;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
  margin: 0.5em 0.75em 0.5em 0;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #FFF;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #FFF;
  stroke: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #FFF;
}

.resp-sharing-button__link:hover {
  text-decoration: none;
}

.resp-sharing-button--large .resp-sharing-button__icon svg {
  padding-right: 0.4em;
}

.resp-sharing-button__wrapper {
  display: inline-block;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #444444;
  border-color: #444444;
}

.resp-sharing-button--email:hover
.resp-sharing-button--email:active {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
}

.resp-sharing-button--pinterest {
  background-color: #cc2127;
  border-color: #cc2127;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #a01a1f;
  border-color: #a01a1f;
}

.resp-sharing-button--linkedin {
  background-color: #0976b4;
  border-color: #0976b4;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #075683;
  border-color: #075683;
}

h1.post-title, h1 .post-link {
  color: #333;
  font-weight: bold;
}

.post-list h1 {
  margin-bottom: 5px;
}

h1 .post-link {
  font-size: 32px;
  line-height: 40px;
}
