ul.share-buttons {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

ul.share-buttons li {
  display: inline;
  margin-right: 5px;
}

.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 25ms ease-out, border-color 25ms ease-out, opacity 250ms ease-out;
  margin: 0.5em 0.75em 0.5em 0;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.resp-sharing-button a {
  text-decoration: none;
  color: #FFF;
  display: block;
}

.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #FFF;
  fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #FFF;
  stroke: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #FFF;
}

.resp-sharing-button__link:hover {
  text-decoration: none;
}

.resp-sharing-button--large .resp-sharing-button__icon svg {
  padding-right: 0.4em;
}

.resp-sharing-button__wrapper {
  display: inline-block;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--email {
  background-color: #444444;
  border-color: #444444;
}

.resp-sharing-button--email:hover
.resp-sharing-button--email:active {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
}

.resp-sharing-button--pinterest {
  background-color: #cc2127;
  border-color: #cc2127;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #a01a1f;
  border-color: #a01a1f;
}

.resp-sharing-button--linkedin {
  background-color: #0976b4;
  border-color: #0976b4;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #075683;
  border-color: #075683;
}

.post-list h1 {
  margin-bottom: 5px;
}

h1 .post-link {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  text-shadow: white 1px 0px 0px, white -1px 0px 0px;
}

.related-posts {
  background: #f6f6f6;
  border-radius: 4px;
  margin-left: 0;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  font-size: $base-font-size - 2px;

  @include media-query($on-palm) {
    font-size: $base-font-size - 4px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__previous, &__previous--edge, &__next, &__next--edge {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    transition: background-color .15s ease-in-out;
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    margin-right: 2rem;
  }

  &__previous:visited, &__next:visited {
    color: #000;
  }

  &__previous:hover, &__previous:focus, &__next:hover, &__next:focus {
    background-color: #000;
    color: #fff;
  }

  &__icon {
    width: 1rem;
  }

  &__previous-text {
    padding-left: .25rem;
  }

  &__next-text {
    padding-right: .25rem;
  }
}

.tag {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  &__item {
    display: inline-block;
    margin-right: 0.75rem;
  }
}

.category {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 17.5px;
  color: #828282;

  &__item, &__label {
    display: inline-block;
    margin-right: 0.25rem;
  }

  &__item:not(:last-of-type)::after {
    content: ', '
  }
}
